.navbar-container {
    height: 6rem;
    padding: 0.5rem 2rem;
    border-bottom: 0.5px solid slategray;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    gap: 6rem;
}

.navbar__text {
    display: flex;
    font-size: 1.5rem;
    align-items: center;
}

.navbar__logo {
    position: relative;
    top: 1rem;
}
